[mysqld]
default-authentication-plugin  = mysql_native_password
default_storage_engine         = 'InnoDB'

innodb_buffer_pool_size        = 4G
innodb_buffer_pool_instances   = 8
innodb_thread_concurrency      = 8
innodb_log_file_size           = 2048M
innodb_flush_method            = O_DIRECT
innodb_flush_log_at_trx_commit = 0
sync_binlog                    = 0

max_connections                = 100

slow_query_log                 = 1
long_query_time                = 1

skip_name_resolve
